@import 'assets/style/variables/border/_border-props';
@import 'assets/style/variables/_colors';
@import 'assets/style/variables/_transition';
@import 'assets/style/variables/_shadows';

.close-button {
  cursor: pointer;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  background-color: transparent;
  background-image: url('../../../assets/images/Icon/red/closeIcon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;

  outline: none;
  border: 2px solid $red;
  border-radius: $border-radious;

  transition: $transition-150;

  &:hover {
    @include light-shadow();
    background-color: rgba(255, 255, 255, 0.1);
  }
}