@import 'assets/style/variables/_transition';
@import 'assets/style/variables/border/_border-props';
@import 'assets/style/variables/border/_border';
@import 'assets/style/variables/input/_main-input';

$wrapper-border-size: 1px;

.wrapper {
  width: 100%;
  .input-wrapper {
    position: relative;
    overflow: hidden;
    @include main-input-container(4rem);
    padding: .5rem;
  
    border-radius: $border-radious;
    @include white-border($wrapper-border-size);
  
    transition: $transition-150;
  
    label {
      @include main-label();
    }
  
    input {
      @include main-input();
    }
  }
  
  .input-wrapper--active {
    @include white-border($wrapper-border-size);
  }
  
  .input-wrapper--invalid {
    @include invalid-border($wrapper-border-size);
  }
}
