@import 'assets/style/variables/_dimensions';
@import 'assets/style/variables/_colors';
@import 'assets/style/variables/border/_border-props';

.login {
  width: 100%;

  @media (min-width: $mobile-width) {
    width: 30rem;
    padding: 1rem 2rem;

    background-color: $main-form-color;
    border-radius: $border-radious;
  }
}