@import 'assets/style/variables/_colors';
@import 'assets/style/variables/_button';


.main-button {
  width: 100%;
  
  @include main-button-style();

  &:disabled {
    cursor: not-allowed;
    background-color: $light-gray;
  }
}