@import 'assets/style/variables/_colors';
@import 'assets/style/variables/_fonts';

//Font Family: Bebas Neue
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

//Font Family: Inconsolata
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: $main-font, sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;

  background-color: $black;
  color: white;
}